  table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  th, td {
    padding: 4px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    text-align: center;
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .addItemBtn {
    width: 10%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .editItemBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .deleteItemBtn {
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
  }