<body>
  <div class="container">
    <div class="title-row">
      <h2>Admin Dashboard</h2>
      <button class="add" (click)="navAdd()">Add new property</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Property ID</th>
          <th>Property title</th>
          <th>Type</th>
          <th>Status</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items; let i = index">
        <tr (mouseenter)="onMouseEnter(item)">
          <td>
            <img class="resizable-image" [src]="item.images[0]" (error)="handleImageError($event)">
          </td>
          <td>{{ item._id }}
        <tr>
          <ul class="option-row" *ngIf="isVisible">
            <li><a (click)="navShow(item._id)">View</a></li>
            <li><a (click)="navEdit(item._id)">Edit</a></li>
            <li><a (click)="delete(item)">Delete</a></li>
          </ul>
        </tr>
        </td>
        <td>{{ item.title }}</td>
        <td>
          <div class="type-row" *ngFor="let type of item.types; let i = index">
            <div class="type">{{ type.name }}</div>
            <div class="type-separator" *ngIf="item.types.length > 1 && i !== item.types.length-1">, </div>
          </div>
        </td>
        <td>{{ item.forsale ? 'For sale' : 'For rent'}}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.created_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>