<div class="container">
    <h1>About</h1>
    <hr>
    <br>
    <div class="content">
        <div class="text">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum varius enim, at finibus risus.
                Phasellus nec dapibus odio. Fusce consectetur eget ipsum id congue. Integer eu efficitur libero. Donec
                id tortor a tellus eleifend consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia curae; Sed in erat sed sapien rutrum tempor.</h5>
            <br>
            <h5>Nullam a arcu consectetur, lacinia sapien sit amet, rutrum velit. Mauris nec metus vestibulum, feugiat
                velit ac, feugiat ante. Nulla facilisi. Integer vitae ligula nec metus tincidunt dictum. In pulvinar,
                justo id pharetra facilisis, felis lectus bibendum ligula, vel bibendum arcu leo eu ligula. Pellentesque
                id vehicula nisl, vitae consectetur odio.</h5>
            <br>
            <h5>Nam consectetur ullamcorper elit, at viverra turpis congue sed. Morbi pulvinar ligula eu lorem gravida
                vehicula. Sed vitae nulla quis purus aliquam laoreet. Nulla volutpat libero a felis viverra efficitur.
                Proin luctus velit a augue accumsan, non gravida metus dapibus. Sed auctor aliquet nibh. Duis eget justo
                sed dolor rhoncus efficitur.</h5>
            <br>
            <h5>Integer aliquam scelerisque ligula, sed hendrerit eros consequat eu. Nulla tincidunt nunc eu felis
                suscipit, vel efficitur magna ultrices. Maecenas euismod, sapien id iaculis ultricies, odio velit
                ultricies enim, vitae gravida justo dui sed ex. Morbi vel tincidunt enim. Vivamus fermentum, est vitae
                vestibulum viverra, velit mauris mattis lectus, sit amet hendrerit purus sapien sit amet nulla.</h5>
            <br>
            <h5>Etiam bibendum elit nec augue vulputate, eu ultricies orci tincidunt. Proin vitae interdum mi. Phasellus
                eget lorem ac lacus interdum tempor vel sit amet justo. Donec et enim ac sapien condimentum efficitur.
                Curabitur feugiat sem nec dolor interdum, non vehicula justo volutpat. Nullam auctor libero vitae ex
                tristique, in malesuada lacus tristique.</h5>
            <br>
            <h5>Mauris non tincidunt tortor. Aenean at vestibulum ligula. Phasellus eu leo a nisi efficitur vehicula nec
                vel tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Suspendisse ac ex et metus sodales elementum. Sed luctus erat id dui consectetur consequat.
                Maecenas commodo consectetur tellus, eget malesuada ante faucibus sit amet.</h5>
        </div>
    </div>
</div>