.title {
  text-align: center;
  padding-top: 25px;
  min-height: 50px;
}

hr {
  width: 420px;
  margin: auto;
}

.container {
  padding: 0px;
}

.card {
  border: 0px;
  border-radius: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

.card-title {
  display: flex;
}

.attributes {
  display: flex;
  flex-direction: row;
  margin-right: 14px;
  margin-left: 4px;
}

.attributes-details {
  display: flex;
  padding: 5px;
  background-color: steelblue;
  color: white;
}

.attributes-details-other {
  display: flex;
  padding: 5px;
  background-color: darkblue;
  color: white;
}

.resizable-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-box:hover {
  opacity: 0.5;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.carousel {
  width: 100%;
  display: block;
}

.types {
  display: flex;
  flex-direction: row;
}

.prev {
  float: right;
}

.next {
  float: left;
}

#arrows {
  padding-top: 150px;
}

.row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bi:not(.bi-chevron-left, .bi-chevron-right) {
  margin-right: 4px;
}

.bi-chevron-left, .bi-chevron-right {
  color: orangered;
}