<div class="container">
  <div class="title">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-1" id="arrows">
      <h1 class="prev"><i class="bi bi-chevron-left"></i></h1>
    </div>
    <div class="col-md-10">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let item of items; let i = index" class="slide">
          <div class="container">
            <div class="card">
              <div class="image-box">
                <input type="image" (click)="viewDetails(item._id)" class="resizable-image" [src]="item.images[0]"
                  (error)="handleImageError($event)" alt="Property Image" />
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h5 class="card-text">{{ item.title }}</h5>
                </div>
                <div class="attributes">
                  <div *ngIf="item.address.street">
                    <p class="card-text"><i class="bi bi-geo-alt"></i>{{ item.address.street }}, {{ item.address.city}}
                    </p>
                  </div>
                  <div *ngIf="!item.address.street">
                    <p class="card-text"><i class="bi bi-geo-alt"></i>{{ item.address.city }}</p>
                  </div>
                </div>
                <div class="attributes">
                  <div class="types" *ngFor="let type of item.types; let i = index">
                    <div>
                      <p class="card-text">{{ type.name }}</p>
                    </div>
                    <div *ngIf="item.types.length > 1 && i !== item.types.length-1">
                      <p class="card-text">, </p>
                    </div>
                  </div>
                </div>
                <div class="attributes">
                  <p class="card-text">{{ item.price }} €</p>
                </div>
              </div>
              <div *ngIf="i % 2 === 0">
                <div class="attributes-details">
                  <div class="attributes" *ngIf="item.size">
                    <p class="card-text"><i class="bi bi-arrows-angle-expand"></i>{{ item.size }} m<sup>2</sup></p>
                  </div>
                  <div *ngIf="item.area" class="attributes">
                    <p class="card-text"><i class="bi bi-arrows-move"></i>{{ item.area }} m<sup>2</sup></p>
                  </div>
                  <div class="attributes" *ngIf="item.bedrooms">
                    <p class="card-text"><i class="bi bi-door-open"></i>{{ item.bedrooms }}</p>
                  </div>
                  <div class="attributes" *ngIf="item.bathrooms">
                    <p class="card-text"><i class="bi bi-droplet"></i>{{ item.bathrooms }}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="i % 2 === 1">
                <div class="attributes-details-other">
                  <div class="attributes" *ngIf="item.size">
                    <p class="card-text"><i class="bi bi-arrows-angle-expand"></i>{{ item.size }} m<sup>2</sup></p>
                  </div>
                  <div class="attributes" *ngIf="item.area">
                    <p class="card-text"><i class="bi bi-arrows-move"></i>{{ item.area }} m<sup>2</sup></p>
                  </div>
                  <div class="attributes" *ngIf="item.bedrooms">
                    <p class="card-text"><i class="bi bi-door-open"></i>{{ item.bedrooms }}</p>
                  </div>
                  <div class="attributes" *ngIf="item.bathrooms">
                    <p class="card-text"><i class="bi bi-droplet"></i>{{ item.bathrooms }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="col-md-1" id="arrows">
      <h1 class="next"><i class="bi bi-chevron-right"></i></h1>
    </div>
  </div>
</div>