.container>.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.container {
    padding: 0 200px;
}

input[type="text"] {
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

label {
    margin-left: 3px;
    margin-right: 10px;
}

.save {
    background-color: steelblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 75px;
}

.error {
    color: crimson;
}

.add {
    color: orangered;
    background: white;
    padding: 10px;
    margin: 10px;
    border: 3px solid orangered;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.add:hover {
    border: 3px solid steelblue;
    background: steelblue;
    color: white;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.title-row {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-row {
    margin-left: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-row {
    margin-bottom: 3px;
    margin-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-title {
    margin-bottom: 3px;
    margin-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}