<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/"><img class="navbar-logo" src="../../assets/logo.png"></a>
    </div>
    <div class="navbar-links">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/browse">Browse</a></li>
      </ul>
    </div>
    <div class="admin-link" *ngIf="isLoggedIn">
      <a routerLink="/admin/admin-dashboard">Admin<i class="bi bi-person-gear"></i></a>
    </div>
    <div class="logout">
      <button *ngIf="isLoggedIn" (click)="logout()">Logout<i class="bi bi-arrow-bar-right"></i></button>
    </div>
  </nav>
</header>