<div class="search-row">
  <div class="container">
    <div class="search-container">
      <form class="text-center">
        <div class="row">
          <div class="col-md-4">
            <input type="text" id="title" name="title" placeholder="Title" [(ngModel)]="title">
            <select class="form-select" id="state" name="state" [(ngModel)]="city">
              <option selected="All States" value="">All States</option>
              <option>Cityville</option>
              <option>Metropolis</option>
              <option>Scenicview</option>
              <option>Corporateville</option>
              <option>Ruralville</option>
              <option>Suburbia</option>
              <option>Highrise City</option>
              <option>Mountainville</option>
            </select>
            <select class="form-select" id="type" name="type" [(ngModel)]="itemTypes">
              <option selected="All Types" value="">All Types</option>
              <option *ngFor="let type of types" [value]="type._id">{{ type.name }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <select class="form-select" id="bedrooms" name="bedrooms" [(ngModel)]="bedrooms">
              <option selected="No. of bedrooms" [ngValue]="null">No. of bedrooms</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
            <select class="form-select" id="bathrooms" name="bathrooms" [(ngModel)]="bathrooms">
              <option selected="No. of bathrooms" [ngValue]="null">No. of bathrooms</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <input type="text" id="min-price" name="min-price" placeholder="Min Price (€)" [(ngModel)]="minPrice">
              </div>
              <div class="col-md-6">
                <input type="text" id="max-price" name="max-price" placeholder="Max Price (€)" [(ngModel)]="maxPrice">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" id="min-size" name="min-size" placeholder="Min Size (m2)" [(ngModel)]="minSize">
              </div>
              <div class="col-md-6">
                <input type="text" id="max-size" name="max-size" placeholder="Max Size (m2)" [(ngModel)]="maxSize">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="text" id="min-area" name="min-area" placeholder="Min Area (ha)" [(ngModel)]="minArea">
              </div>
              <div class="col-md-6">
                <input type="text" id="max-area" name="max-area" placeholder="Max Area (ha)" [(ngModel)]="maxArea">
              </div>
            </div>
          </div>
        </div>
        <div class="toggle-switch">
          <button [ngClass]="{ 'active': !forsale }" name="forsale" id="forsale" (click)="toggleForSale()">For
            Rent</button>
          <button [ngClass]="{ 'active': forsale }" name="forsale" id="forsale" (click)="toggleForSale()">For
            Sale</button>
        </div>
        <div class="toggle-div">
          <div>
            <button class="toggle" (click)="toggleVisibility()" *ngIf="showUtilities"><i
                class="bi bi-chevron-up"></i></button>
          </div>
          <div>
            <button class="toggle" (click)="toggleVisibility()" *ngIf="!showUtilities"><i
                class="bi bi-chevron-down"></i></button>
          </div>
          <div>
            <h5 class="toggle-text">Additional features</h5>
          </div>
        </div>
        <div class="utilities" *ngIf="showUtilities">
          <div class="form-check">
            <input type="checkbox" name="garage" id="garage" [(ngModel)]="garage" (change)="changeStatus()">
            <label for="garage">Garage</label>
          </div>
          <div class="form-check">
            <input type="checkbox" name="parking" id="parking" [(ngModel)]="parking" (change)="changeStatus()">
            <label for="parking">Parking</label>
          </div>
          <div class="form-check">
            <input type="checkbox" name="pool" id="pool" [(ngModel)]="pool" (change)="changeStatus()">
            <label for="pool">Pool</label>
          </div>
          <div class="form-check">
            <input type="checkbox" name="gym" id="gym" [(ngModel)]="gym" (change)="changeStatus()">
            <label for="gym">Gym</label>
          </div>
          <div class="form-check">
            <input type="checkbox" name="centralHeating" id="centralHeating" [(ngModel)]="centralHeating"
              (change)="changeStatus()">
            <label for="centralHeating">Central heating</label>
          </div>
          <div class="form-check">
            <input type="checkbox" name="internet" id="internet" [(ngModel)]="internet" (change)="changeStatus()">
            <label for="internet">Internet</label>
          </div>
        </div>
        <div>
          <button type="button" class="search"
            (click)="browseItems(title, itemTypes, city, bedrooms, bathrooms, minPrice, maxPrice, minSize, maxSize, minArea, maxArea, forsale, itemUtilities)">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="item-container">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of items; let i = index">
        <div class="card">
          <div class="image-box">
            <input type="image" (click)="viewDetails(item._id)" class="resizable-image" [src]="item.images[0]"
              (error)="handleImageError($event)" alt="Property Image" />
          </div>
          <div class="card-body">
            <div class="card-title">
              <h5 class="card-text">{{ item.title }}</h5>
            </div>
            <div class="attributes">
              <div *ngIf="item.address.street">
                <p class="card-text"><i class="bi bi-geo-alt"></i>{{ item.address.street }}, {{ item.address.city}}</p>
              </div>
              <div *ngIf="!item.address.street">
                <p class="card-text"><i class="bi bi-geo-alt"></i>{{ item.address.city }}</p>
              </div>
            </div>
            <div class="attributes">
              <div class="types" *ngFor="let type of item.types; let i = index">
                <div>
                  <p class="card-text">{{ type.name }}</p>
                </div>
                <div *ngIf="item.types.length > 1 && i !== item.types.length-1">
                  <p class="card-text">, </p>
                </div>
              </div>
            </div>
            <div class="attributes">
              <p class="card-text">{{ item.price }} €</p>
            </div>
          </div>
          <div class="attributes-details">
            <div class="attributes" *ngIf="item.area">
              <p class="card-text"><i class="bi bi-arrows-move"></i>{{ item.area }} m<sup>2</sup></p>
            </div>
            <div class="attributes" *ngIf="item.size">
              <p class="card-text"><i class="bi bi-arrows-angle-expand"></i>{{ item.size }} m<sup>2</sup></p>
            </div>
            <div class="attributes" *ngIf="item.bedrooms">
              <p class="card-text"><i class="bi bi-door-open"></i>{{ item.bedrooms }}</p>
            </div>
            <div class="attributes" *ngIf="item.bathrooms">
              <p class="card-text"><i class="bi bi-droplet"></i>{{ item.bathrooms }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>