<div class="item-details">
  <div class="container">
    <div class="title">
      <div class="title-row">
        <h4>{{ item.title }}</h4>
      </div>
      <div class="title-row">
        <div class="price">
          <h5>{{ item.price }} €</h5>
        </div>
        <div class="forsale" *ngIf="item.forsale">
          <h5>For sale</h5>
        </div>
      </div>
    </div>
    <div class="attributes-row">
      <div class="attribute" *ngIf="item.area">
        <h5 class="icon-row"><i class="bi bi-arrows-move"></i>{{ item.area }}</h5>
      </div>
      <div class="attribute" *ngIf="item.size">
        <h5 class="icon-row"><i class="bi bi-arrows-angle-expand"></i>{{ item.size }}
        </h5>
      </div>
      <div class="attribute" *ngIf="item.bedrooms">
        <h5 class="icon-row">
          <i class="bi bi-door-open"></i>{{ item.bedrooms }}
        </h5>
      </div>
      <div class="attribute" *ngIf="item.bathrooms">
        <h5 class="icon-row">
          <i class="bi bi-droplet"></i>{{ item.bathrooms }}
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1" id="arrows">
        <h3 class="prev"><i class="bi bi-chevron-left"></i></h3>
      </div>
      <div class="col-md-10">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let image of item.images; let i = index" class="slide">
            <div class="card">
              <img class="resizable-image" [src]="item.images[i]" alt="Property Image"
                (error)="handleImageError($event)">
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="col-md-1" id="arrows">
        <h3 class="next"><i class="bi bi-chevron-right"></i></h3>
      </div>
    </div>
    <div class="container">
      <h5>{{ item.description }}</h5>
    </div>
    <div class="info-row">
      <div class="info">
        <h5 style="font-weight: bold">Country:</h5>
      </div>
      <div>
        <h5>{{ item.address.country }}</h5>
      </div>
    </div>
    <div class="info-row">
      <div class="info">
        <h5 style="font-weight: bold">Province/State:</h5>
      </div>
      <div>
        <div *ngIf="!item.address.street">
          <h5>{{ item.address.city}}</h5>
        </div>
        <div *ngIf="item.address.street">
          <h5>{{ item.address.street }}, {{ item.address.city}}</h5>
        </div>
      </div>
    </div>
    <br>
    <div class="title" style="padding: 0;">
      <div class="toggle-switch">
        <button [ngClass]="{ 'active': overview }" name="overview" id="overview" (click)="toggleView()">
          Overview
        </button>
        <button [ngClass]="{ 'active': !overview }" name="overview" id="overview" (click)="toggleView()">
          Features
        </button>
      </div>
    </div>
    <div class="container" *ngIf="overview">
      <div class="row">
        <div class="col-md-3">
          <div class="info-row">
            <div class="info">
              <p style="font-weight: bold">Property ID:</p>
            </div>
          </div>
          <div class="info-row">
            <div class="info">
              <p style="font-weight: bold">Property type:</p>
            </div>
          </div>
          <div class="info-row">
            <div class="info">
              <p style="font-weight: bold">Price:</p>
            </div>
          </div>
          <div class="info-row">
            <div class="info">
              <p style="font-weight: bold">For sale:</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-row">
            <div class="info">
              <p>{{ item._id }}</p>
            </div>
          </div>
          <div class="info-row">
            <div class="info" *ngFor="let type of item.types; let i = index">
              <div class="info-row">
                <p>{{ type.name }}</p>
                <p *ngIf="item.types.length > 1 && i !== item.types.length-1">, </p>
              </div>
            </div>
          </div>
          <div class="info-row">
            <div class="info">
              <p>{{ item.price }} €</p>
            </div>
          </div>
          <div class="info-row">
            <div class="info">
              <p>{{ item.overview ? 'Yes' : 'No' }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-row" *ngIf="item.area">
            <div class="info">
              <p style="font-weight: bold">Property area:</p>
            </div>
          </div>
          <div class="info-row" *ngIf="item.size">
            <div class="info">
              <p style="font-weight: bold">Property size:</p>
            </div>
          </div>
          <div class="info-row" *ngIf="item.bedrooms">
            <div class="info">
              <p style="font-weight: bold">Bedrooms:</p>
            </div>
          </div>
          <div class="info-row" *ngIf="item.bathrooms">
            <div class="info">
              <p style="font-weight: bold">Bathrooms:</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info-row" *ngIf="item.area">
            <div class="info">
              <p>{{ item.area }}</p>
            </div>
          </div>
          <div class="info-row" *ngIf="item.size">
            <div class="info">
              <p>{{ item.size }}</p>
            </div>
          </div>
          <div class="info-row" *ngIf="item.bedrooms">
            <div class="info">
              <p>{{ item.bedrooms}}</p>
            </div>
          </div>
          <div class="info-row" *ngIf="item.bathrooms">
            <div class="info">
              <p>{{ item.bathrooms }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="!overview">
      <div class="info-row">
        <div class="info-row" *ngFor="let utility of item.utilities; let i = index">
          <div class="info">
            <p style="font-weight: bold;"><i class="bi bi-check2-square"></i></p>
          </div>
          <div class="info">
            <p style="font-weight: bold;">{{ utility.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>