.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.item-details {
  padding-left: 150px;
  padding-right: 150px;
}

.card {
  margin: 0 auto;
  display: flex;
  border-radius: 0px;
  border: 0px;
}

.resizable-image {
  height: 450px;
  object-fit: cover;
  display: block;
}

.title {
  background: darkblue;
  padding: 20px;
  color: white;
}

.title-row {
  display: flex;
}

.attributes-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.attribute {
  margin-left: 10px;
}

.info-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.info {
  margin-right: 5px;
}

.forsale {
  margin-left: 25px;
  background: orangered;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 6px;
  border-radius: 3px;
}

.price {
  padding-top: 5px;
}

.bi {
  color: orangered;
}

.icon-row {
  font-weight: bold;
}

.prev {
  float: right;
}

.next {
  float: left;
}

#arrows {
  margin-top: auto;
  margin-bottom: auto;
}

.bi:not(.bi-check2-square) {
  margin-right: 5px;
}

.bi-check2-square {
  margin-left: 10px;
}

.toggle-switch {
  display: flex;
}

.toggle-switch button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: darkblue;
  color: white;
  transition: 0.3s;
}

.toggle-switch button.active {
  background-color: orangered;
  color: white;
  transition: 0.3s;
}

.toggle-switch button:hover {
  background-color: steelblue;
}

h5 {
  font-size: large;
}